@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Syne:wght@400..800&display=swap');

* {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  margin: 0;
  font-family: Poppins, sans-serif;
  overflow: hidden;
}

.p1, .projects-section {
  position: relative;
  height: 100vh;
}

.p1 {
  background-color: #0004FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p1 h1 {
  user-select: none;
  font-size: 60px;
  text-align: center;
  color: #fff;
  font-family: Syne;
}

.arrow-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  font-size: 30px;
  color: #fff;
  animation: bounce 2s infinite;
}

.view-projects-text {
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.p1 .btm-line {
  position: fixed;
  height: 50px;
  width: 100vw;
  background-color: #FFFB00;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  gap: 5px;
}

#tags {
  font-family: Syne;
  margin-left: 10px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 15px;
  font-family: Silkscreen;
}

.email-container {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.email-container form {
  display: flex;
}

.email-container input {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  width: 250px;
  padding: 5px 10px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: #FFFB00;
  outline: none;
}

.email-container input:focus {
  background-color: rgb(0, 0, 0);
}

.email-container button {
  background-color: #0004FF;
  color: #FFFB00;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.projects-section {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 24px;
  font-family: Poppins, sans-serif;
}

.projects-section p {
  margin-top: 20px;
  margin-left: 20px;
  color: #FFFB00;
  background-color: #000;
  padding: 0 10px;
}

.go-back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #000000;
  color: #FFFB00;
  padding: 7px 13px 10px 13px;
  font-size: 14px;
  border: none;
  font-family: Poppins, sans-serif;
  transition: background-color 0.3s ease;
}

.go-back-button:hover {
  background-color: #fff500;
}

.projects-showcase {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.project-card {
  width: calc(50vw - 30px);
  height: 350px;
  background-color: #000000;
  color: #FFFB00;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s; /* Optional: adds a hover effect to the card */
}

.project-card h3 {
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 28px;
  left: 30px;
  color: #FFFB00;
  font-family: poppins;
  font-weight: normal;
}

.view-project-button {
  color: white;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 28px;
  right: 30px;
}

.text-container {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: none; /* Initially hide the text container */
}

.text-container input {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  width: 105px;
  padding: 5px 10px;
  border: none;
  background-color: #FFFB00;
  color: #000;
  outline: none;
}

.text-container input::placeholder {
  color: #000;
}

.text-container input:focus {
  background-color: #FFFB00;
}

.text-container button {
  background-color: #0004FF;
  color: #FFFB00;
  border: none;
  padding: 4.8px 10px 6.25px 10px;
  font-size: 17px;
}

.project-card:hover .text-container {
  display: flex;
}
