*{
    margin: 0;
    cursor: none;
}

.custom-cursor {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: opacity 0.3s ease;
  }